.App {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 20px 30px rgba(65, 50, 100, 0.08);
}

.displayed-city {
  text-align: center;
  font-size: 40px;
}
.current-temperature {
  display: flex;
  font-size: 60px;
}
.displayed-temperature-value {
  font-weight: 700;
}
.displayed-temperature-unit {
  font-size: 20px;
  margin-top: 20px;
}
.current-data {
  display: flex;
  justify-content: space-around;
}

.displayed-emoji-right {
  justify-content: end;

  font-size: 50px;
}
.displayed-emoji-left {
  font-size: 50px;
}

p {
  text-align: center;
  font-size: 19px;
}
p .highlighted-data {
  color: #61c0bf;
}
main {
  padding: 5px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 0;
}
.row {
  display: flex;
}

.column {
  padding: 10px;
  border-radius: 5px;
}

.column:hover {
  background: #fae3d9;
}

.weather-forecast-day {
  font-size: 18px;
  font-weight: bold;
}

.forecast-temperature-max {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  color: #61c0bf;
}
.forecast-temperature-min {
  padding: 5px;
  font-size: 15px;
  color: #61c0bf;
}

.column img {
  width: 84px;
}
